@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --text-md-normal: Inter;

    /* font sizes */
    --text-md-normal-size: 16px;
    --text-sm-semibold-size: 14px;
    --text-xs-medium-size: 12px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-15xl: 34px;
    --font-size-xl: 20px;
    --font-size-8xl: 27px;
    --font-size-29xl: 48px;
    --font-size-10xl: 29px;
    --font-size-19xl: 38px;
    --font-size-21xl: 40px;
    --font-size-13xl: 32px;
    --font-size-45xl: 64px;
    --font-size-32xl: 51px;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: #1e1e1e;
    --color-gray-200: #101828;
    --color-gray-300: #141414;
    --color-darkgray: #98a2b3;
    --color-whitesmoke-100: #f2f4f7;
    --secondary-color-grey: #f2f2f2;
    --gray-200: #eaecf0;
    --color-mediumseagreen-100: #20b486;
    --color-mediumseagreen-200: #22b286;
    --color-mediumseagreen-300: rgba(34, 178, 134, 0.1);
    --color-mintcream: #f7fdf9;
    --color-darkorange: #ff9b26;
    --color-seagreen: #1a906b;
    --color-lightgray: #d0d5dd;
    --color-slategray: #667085;
    --gray-700: #344154;

    /* Gaps */
    --gap-45xl: 64px;
    --gap-base: 16px;
    --gap-13xl: 32px;
    --gap-5xl: 24px;
    --gap-xs: 12px;
    --gap-5xs: 8px;
    --gap-11xl: 30px;
    --gap-xl: 20px;
    --gap-95xl: 114px;
    --gap-38xl: 57px;
    --gap-9xl: 28px;
    --gap-55xl: 74px;
    --gap-18xl: 37px;
    --gap-lg: 18px;
    --gap-3xl: 22px;
    --gap-31xl: 50px;
    --gap-6xl: 25px;
    --gap-36xl: 55px;
    --gap-8xl: 27px;
    --gap-7xs: 6px;

    /* Paddings */
    --padding-45xl: 64px;
    --padding-29xl: 48px;
    --padding-61xl: 80px;
    --padding-21xl: 40px;
    --padding-13xl: 32px;
    --padding-103xl: 122px;
    --padding-99xl: 118px;
    --padding-72xl: 91px;
    --padding-11xs: 2px;
    --padding-5xs: 8px;
    --padding-92xl: 111px;
    --padding-xl: 20px;
    --padding-10xs: 3px;
    --padding-lg: 18px;
    --padding-lgi: 19px;
    --padding-3xs: 10px;
    --padding-smi: 13px;
    --padding-7xl: 26px;
    --padding-14xl: 33px;
    --padding-9xl: 28px;
    --padding-8xl: 27px;
    --padding-base: 16px;
    --padding-sm: 14px;

    /* Border radiuses */
    --br-base: 16px;
    --br-3xs: 10px;
    --br-5xs: 8px;

    /* Effects */
    --shadow-xs-focused-4px-primary-100: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 4px #f4ebff;
    --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}